<div>
  <%= render "timesheet_day" %>
  <%= render "new_modal" %>

<div class="row">
  <div class="col-lg-1 text-center">
      <!-- Button trigger modal -->
    <button id="create-timer" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#timesheetModal">
      +
    </button>
    <h6>New Entry</h6>
  </div>
  <div class="col-lg-11 ">
    <div id="timesheet_nav_container">
      <%= render "timesheet_navigation" %>
    </div>

    <div id="timesheet_container">
    <!-- Tab panes -->
      <div class="tab-content">
        <div id="timesheet-content" role="tabpanel" class="tab-pane active" id="home"> 
            <%= render "timesheets" %>
        </div>
      </div>
    </div>
  </div>
</div>


</div>

<script type="text/javascript">

  $( document ).on("click",".change_date", function(){
    var dateForParam = $(this).data('date');
    $.ajax({
      type:'GET', 
      url: "<%=timesheets_path%>",
      data: { date : dateForParam },
      dataType: "script"
    });
  })
</script>